body {
  user-select: none;
}
#weather-widget-container {
  color: #FFFFFF;
}
.weather-widget-sub-div {
  padding: 5px 15px;
}
#queryLocDiv {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
}
#queryLocInput {
  font-family: 'Oswald', sans-serif;
}
.weather-app-title {
  margin-top: 5px;
  font-family: 'Archivo Black', sans-serif;
}
.three-day-forecast-day-of-the-week, .three-day-forecast-weather-icon, .three-day-forecast-temperature {
  display: inline-block;
}
.threeDayForecastDiv {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.temp-and-icon {
  display: flex;
  justify-content: space-around;
}
.weather-widget-location {
  font-family: 'Patua One', cursive;
}
.weather-widget-temperature, .three-day-forecast-temperature {
  font-family: 'Merriweather', serif;
}
.weather-widget-day-of-the-week, .three-day-forecast-day-of-the-week {
  font-family: 'PT Serif', serif;
}
.weather-widget-icon {
  width: 75px;
}
.wi-icon {
  text-align: center;
}
.weather-widget-description {
  font-family: 'Noto Serif', serif;
}
.celsius {
  display: none;
}
.deg {
  cursor: pointer;
}
.changeColorContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}
.changeColor {
  border-radius: 50%;
}
.changeColor:active {
  text-decoration: none;
}
